body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 100px auto;
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

#server-status {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

.online {
    color: #4CAF50;
    background-color: #E8F5E9;
}

.offline {
    color: rgb(54, 244, 82);
    background-color: #efeced;
}