* {
    color: #1d3d33;
}

:root {
    --div-login-bg-color: #fef6cd;
    --div-login-text-color: #416864;

    --btn-login-bg-color: #3f8880;
    --btn-login-border-color: #3f8880;
}

body,
html {
    height: 100%;
    background-repeat: no-repeat;
    background: url(../bg-img.jpg) no-repeat center center fixed;
    background-size: auto 100%;
}
.title-home{
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#nav-home{
    background-color: white ;
}
.nav-list-ul-home{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 5px;
    margin:auto;
    width: fit-content;
    background-color: transparent ;
}

.nav-btn-home{
    color: var(--div-login-text-color);
    border: none;
    background-color: transparent ;
    padding-bottom: 5px;
}
.nav-btn-home:hover{
    border-bottom:solid var(--div-login-text-color);
}